@use "sass:map";
@import "~@angular/material/theming";

@include mat-core();
// @debug map.get($mat-purple, 700);
.wrapper {
	height: 75px;

	.header {
		padding: 10px 0px;
		background-color: map.get($mat-green, 700);
		width: 100%;
		z-index: 100;
		display: flex;
		position: fixed;
		align-items: center;

		&-back-button,
		&-menu-button {
			margin-left: 10px;
		}

		&-add-button {
			margin-right: 10px;
		}

		&-title-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-grow: 1;

			.header-title {
				text-align: center;
				font-size: 24px;
				padding-right: 10px;
				padding-left: 10px;
			}

			.user-name-container {
				display: flex;
				align-items: center;
				margin-top: 10px;

				.user-name {
					margin-left: 5px;
				}
			}
		}
	}
}
