@use "sass:map";
@import '~@angular/material/theming';

@include mat-core();
// @debug map.get($mat-purple, 700);

.header-container {
	height: 71px;

	h1 {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: map.get($mat-green, 700);
		position: fixed;
		width: 100%;
		z-index: 100;
	}
}

