<app-header [title]="title | async" [showBackBtn]="true"></app-header>
<div class="exercise-container" *ngIf="fazesWithExercises | async as fazes; else noResults">
	<div class="exercise-faze-container" *ngFor="let faze of fazes">
		<p class="faze-title">{{ faze.name }}</p>
		<p class="faze-reps">
			(Repeta exercitiile de {{ faze.reps }})
			<app-counter-button
				[counter]="currentUser.fazeCount[faze.id] || 0"
				[complete]="faze.reps === (currentUser.fazeCount[faze.id] || 0)"
				(click)="onFazeCount(faze)"
				*ngIf="currentUser"
			></app-counter-button>
		</p>
		<a
			mat-raised-button
			class="exercise-btn"
			color="primary"
			(click)="openDialog(exercise)"
			*ngFor="let exercise of faze.exercises"
		>
			<p>{{ exercise.name }}</p>
			<div class="footer">
				<div class="exercise-reps">(Repetari: {{ exercise.reps }})</div>
			</div>
		</a>
	</div>
</div>
<ng-template #noResults>
	<app-spinner></app-spinner>
</ng-template>
